<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mainblog.css') }}">
    </head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/blog">Main Blog Page</a></li>
            <li><a href="/newpost">Add a new post</a></li>
        </ul>    
    </nav>
    
    <div>
    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category, message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith %}
    </div>    
    
    {% block content %}
    {% endblock %}

</body>
</html>