nav {
    background-color: lightgray;
    border: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
}

nav ul {
    padding: 0;
    display: inline-block;
    margin: 0;
    overflow: hidden;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 6px;
    border-right: 2px solid #26190d;
}

nav ul li a {
    display: block;
    color: #26190d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: darkgray;
}


nav .userlogin {
    float: right;
}

.register {
    background: lightsteelblue;
    padding: 10px 20px;
    border: 2px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.login {
    background: lightcyan;
    padding: 10px 20px;
    border: 2px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.mainblog {
    padding: 10px;
    background-color: lightsteelblue;
    border: 3px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.pageheaders {
    text-align: center;
}

.blogpost {
    background-color: lightblue;
    border: 2px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 10 px 20px;
    text-align: center;
}


.newpost {
    background-color: rgb(134, 140, 146);
    border: 2px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 20px; 
}

.datetime {
    font-style: italic;
    font-size: 12px;
}

.error {
    color: red;
    font-style: italic;
    font-weight: bold;
}

p {
    font-size: 16px;
}

.pagination {
    display: inline-block;
    padding: 8px 16px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: white;
    color: black;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}